*
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body
{

  background-size: cover;
  background-position: center;
   background-image: url("image.jpg");
  font-family: sans-serif;
  
}
.menu-bar
{
  background: black;
  text-align: center;
  top: -360px;
  left: -55px;
  width: 1500px;
  
  
}
.menu-bar ul
{
   display: inline-flex;
   list-style: none;
   color: white;
   z-index: 1;
}
.menu-bar ul li
{
  width: 100px;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  z-index: 1;

} 
.menu-bar ul li a
{
  text-decoration: none;
  color: white;
  z-index: 1;
}
.active, .menu-bar ul li:hover
{
background-color:green;
border-radius: 3px;
z-index: 1;
}
.sub-menu1
{
  display: none;
  position: absolute;
  top: 38px;

 }
 .menu-bar ul li:hover .sub-menu1
 {
   display: block;
   position: absolute;
   background-color: rgb(0, 100, 0);
   margin-top: 15px;
   transition: all;
   
  
   margin-left: -15px; ;
 }
 .menu-bar ul li:hover .sub-menu1 ul
 {
   margin:10px;
   display: block;

   z-index: 1;
   /* transition-property:; */

 }
 .menu-bar ul li:hover .sub-menu1 ul li
 {
    width: 150px;
    padding: 10px;
    background: transparent;
    border-radius: 0;
    z-index: 1;
      
 }

 .menu-bar ul li:hover .sub-menu1 ul li a:hover
 {
    color: #b2ff0b;
    z-index: 1;
 }

.sub-menu2 
{
  display: none;
  position: absolute;
  left: 10px;
}

.hover-me:hover .sub-menu2
{
  position: absolute;
  display: block;
  margin-left: 160px;
  margin-top: -21px;
  background:  green;
  border: 1px solid black;
  text-align: left;
  width: 300px;
  z-index: 1;

} 
.dropbtn{
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
 cursor: pointer;
 width: 300px;
 position: absolute;
 top: -51px;
 left: -100px;
}
.dropdown{
  position: relative;
  display: inline-block;
  top: 500px;
  left: 300px;
}

.dropdown-content{
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px;
  z-index: 5;
}
.dropdown-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover{
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content{
  display: block;
}
.dropdown:hover .dropbtn
{
  background-color: #3e8e41;
}
h
{
  position: absolute;
    font-size: 65px;
    color: black;
    top: 300px;
    left: 210px;

} 

h1
{
        position: absolute;
        top: 350px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 45px;
       left: 100px;
        color: red;
        font-size: 100px;
 }
