*
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body
{

  background-size: cover;
  background-position: center;
  
  
  font-family: sans-serif;
  
}
h1
{
  position: absolute;
  top: 300px;
  left: 300px;
  font-size: 100px;
  color: rgb(187, 72, 72);
  opacity: 1.7;
}
.menu-bar
{
  background: black;
  text-align: center;
  top: -360px;
  left: -55px;
  width: 1500px;
  
  
}
.menu-bar ul
{
   display: inline-flex;
   list-style: none;
   color: white;
   z-index: 1;
}
.menu-bar ul li
{
  width: 100px;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  z-index: 1;

} 
.menu-bar ul li a
{
  text-decoration: none;
  color: white;
  z-index: 1;
}
.active, .menu-bar ul li:hover
{
background-color:green;
border-radius: 3px;
z-index: 1;
}
.sub-menu1
{
  display: none;
  position: absolute;
  top: 38px;

 }
 .menu-bar ul li:hover .sub-menu1
 {
   display: block;
   position: absolute;
   background-color: rgb(0, 100, 0);
   margin-top: 15px;
   transition: all;
   
  
   margin-left: -15px; ;
 }
 .menu-bar ul li:hover .sub-menu1 ul
 {
   margin:10px;
   display: block;

   z-index: 1;
   transition-property:;

 }
 .menu-bar ul li:hover .sub-menu1 ul li
 {
    width: 150px;
    padding: 10px;
    background: transparent;
    border-radius: 0;
    z-index: 1;
      
 }

 .menu-bar ul li:hover .sub-menu1 ul li a:hover
 {
    color: #b2ff0b;
    z-index: 1;
 }

.sub-menu2 
{
  display: none;
  position: absolute;
  left: 10px;
}

.hover-me:hover .sub-menu2
{
  position: absolute;
  display: block;
  margin-left: 160px;
  margin-top: -21px;
  background:  green;
  border: 1px solid black;
  text-align: left;
  width: 300px;
  z-index: 1;

} 
.sub-menu3
{
  display: none;
  position: absolute;
  left: 10px;
  top: 38px;
}

.hover-me:hover .sub-menu3
{
  position: absolute;
  display: block;
  margin-left: 160px;
  margin-top: -21px;
  background:  green;
  border: 1px solid black;
  text-align: left;
  width: 300px;
  z-index: 1;

} 
h2
{
  position: absolute;
  top: 600px;
  left: 500px;
  background-color: white;
  padding: 100px;
  height: 300px;
  
 
  
}
.img
{
  width: 1500px;
  opacity: 0.7;
  z-index: -1;
  position: absolute;
 

}


.dropbtn
{
  border: 2px solid green;
  color: black;
  padding: 16px;
  font-size: 20px;
  background-color: #deec13;
  position: absolute;
  top: -45px;
  left: -20px;
  width: 200px;
  height: 20px;
  padding: 30px;
  padding-top: 10px;
  border-radius: 20px;
  text-align: center;
}
.dropdown 
{
  position: relative;
  display: inline-block;
  position: absolute;
  top: 500px;
  left: 550px;

}
.dropdown-content 
{
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a{

  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover 
{
  background-color: #e9e512;
}
.dropdown:hover .dropdown-content {
  display: block;

}
.dropdown:hover .dropbtn 
{
  background-color: #deec13;
}

.copy

    {
      width: 1500px;
      position: absolute;
      top: 1000px;
      left: 0px;
      background-color: black;
      padding: 10px;
      opacity: 1.9;
      color: white;
      text-align: center;
    
    }
.copy a:hover
{
    color:white;
}


